
.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 14px;
        text-decoration: none;
        font-size:1.75em;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
    z-index: 9;
}
body {
    margin: 0;
    height:100%;
}
html{
    height:100%;
}
svg {
    width: 100vw;
    height: 100vh;
}

path {
    fill: #ccc;
    stroke: black;
    stroke-width: .2;
}

#borders {
    fill: none;
    stroke-width: .8;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

svg {
    padding-left: 50px;
}
.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

 .right {
    width: 20%;
}
.left {
    width: 20%;
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow: hidden;
}
.middle {
    width: 60%;
}
.row{
    height:100%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

