
.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
body {
    margin: 0;
    overflow: hidden;
}

svg {
    width: 100vw;
    height: 100vh;
}

path {
    fill: #ccc;
    stroke: black;
    stroke-width: .2;
}

#borders {
    fill: none;
    stroke-width: .8;
}

