
.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 14px;
        text-decoration: none;
        font-size:1.75em;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 10px;
    z-index: 9;
}
body {
    margin: 0;
    height:100%;
    /* background-color:  #333 !important; */
    font-family: "Montserrat" !important;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);

    /*Remove if issues*/
    display: table !important;
    margin: 0 auto !important;
}


text {
    font-family: 'Montserrat' !important;
}

path {
    stroke: black;
    stroke-width: 0.5;
}

#borders {
    fill: none;
    stroke-width: .8;
}

.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/* * {
    box-sizing: border-box;
} */

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

 .right {
    width: 20%;
}
.left {
    width: 20%;
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow: hidden;
}
.middle {
    width: 60%;
}

.row {
     margin-right: 0px !important;
     margin-left: 0px !important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar { fill: #de0404;
opacity: 0.7; }

.bar:hover {
    fill: orange !important;
    opacity: 1 !important;
}

.bar-selected {
    fill: orange !important;
    opacity: 0.7 !important;    
}

input[type=checkbox], input[type=radio] {
    margin-right: 3px;
    margin-left: 16px;
}

.card {
    margin: 12px !important;
}

.card-body {
    text-align: center;
}

.text-center {
    text-align: center;
}

.details {
    font-size: 10px !important;
}

.line {
    fill: none;
    stroke: orange !important;
    stroke-width: 4px;
    opacity: 1;
  }
  
  .axisSteelBlue text{
    fill: steelblue;
  }
  
  .axisRed text{
    fill: #de0404;
  }
  
  p {
      font-size: 13px !important;
  }
  
  .radio-text {
      font-size: 13px !important;
  }

  .disabled {
      cursor: not-allowed !important;
  }

  .info-btn{
      color: white !important;
      font-size: 20px;
      margin: 22px;
  }